.ui.primary.button {
  background-color: $primary-color;
  color: $secondary-color;

  &:hover,
  &:active,
  &:focus {
    background-color: $primary-background-color !important;
  }
}

.ui.secondary.button {
  color: $primary-color;
  border: 1px solid !important;
  background-color: $secondary-background-color;
  border-color: $primary-background-color !important;

  &:hover,
  &:active,
  &:focus {
    color: $primary-background-color;
    background-color: $secondary-color !important;
  }
}

.button {
  .break-line::after {
    content: '\a';
    white-space: pre;
  }
}

.search-button {
  float: right;
  width: 15em;
}

@media only screen and (max-width: 767px) {
  .mt-1 {
    margin-top: 1rem !important;
  }
}
