body {
  background-color: $background-color;
}

.app-logo {
  border-radius: 100px !important;
}

.app-content {
  margin-top: 0.1em;
  background-color: $background-content-color;
  height: calc(100vh - 45px);
  max-height: calc(100vh - 45px);
  min-width: 290px;
  text-align: justify;
}

@media only screen and (min-width: 722px) {
  .ui.container {
    width: 700px;
  }
}

.hidden {
  visibility: hidden;
}
