.ui.menu {
  background: $background-color !important;
}

@media only screen and (max-width: 480px) {
  .extras-title {
    visibility: hidden;
    display: none;
  }
}

.app-header {
  max-height: 40px;

  .header {
    padding-left: 0em !important;
  }

  .home-page-link {
    display: flex;
  }
}
