// mixins
@mixin breakpoint($point) {
  @if $point==mobile {
    @media (max-width: 480px) and (min-width: 320px) {
      @content;
    }
  }
}

// Variables
$background-color: #f9f9f9;
$background-content-color: #f5f5f5;

$primary-color: #024982d4;
$primary-color-hover: #024882b1;

$secondary-text_color: #f5f5f5;
