// mixins
@mixin breakpoint($point) {
  @if $point==mobile {
    @media (max-width: 480px) and (min-width: 320px) {
      @content;
    }
  }
}

// Variables
$background-color: #d0d0c0;
$background-content-color: #d9d9cc;
$background-input: #e5e5da;

$primary-color: #323232;
$primary-background-color: #464646;

$secondary-color: #d0d0c0; //$background-content-color;
$secondary-background-color: #d9d9cc;
