* {
  font-family: $nunito-font;
}

body {
  background-color: $secondary-color;
}

// Move to footer
.hidden {
  visibility: hidden;
}

// Move to Components -> base-container.
.app-content {
  margin-top: 0.1em;
  background-color: $secondary-background-color;
  height: calc(100vh - 45px);
  max-height: calc(100vh - 45px);
  min-width: 290px;
  text-align: justify;
}

@media only screen and (min-width: 722px) {
  .ui.container {
    width: 700px;
  }
}

@media only screen and (max-width: 767px) {
  .ui.container {
    margin-left: 0em !important;
    margin-right: 0em !important;
  }
}
