// Source: https://codepen.io/AsyrafHussin/pen/KxWRrK
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');
$nunito-font: 'Nunito', sans-serif;

// mixins
@mixin breakpoint($point) {
  @if $point==mobile {
    @media (max-width: 480px) and (min-width: 320px) {
      @content;
    }
  }
}

$primary-color: #323232;
$primary-background-color: #464646;

$secondary-color: #d0d0c0;
$secondary-background-color: #d9d9cc;

$input-background: #e5e5da;
$input-border-color: #aeaeae;

$input-border-color-error: #9f3a38;
$input-border-background-error: #ffe0e0;
