@import "./Variables.scss";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: $font-family;
  background: $bg-color;
  overflow: hidden;

  .root
  {
    height: 80%;
    align-items: center;
  }
  
  .main-content{
    background: $bg-color-content;
  }

  .text-primary{
    color: #2d659c !important;
  }

  .text-secondary{
    color: #68717a !important;
  }
}
