@import "./Variables.scss";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: $font-family;
  background: $bg-color;
  overflow-y: scroll;
  overflow-x: hidden;

  .root {
    height: 80%;
    align-items: center;
  }

  .main-content {
    background: $bg-color-content;
  }

  .text-primary {
    color: $primary-color;
  }

  .text-secondary {
    color: $secondary-color;
  }

  .btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover {
      background-color: $primary-color-hover !important;
    }
  }

  .btn-secondary {
    background-color: $secondary-color;
    border-color: $secondary-color;

    &:hover {
      background-color: $secondary-color-hover !important;
    }
  }
}

/* =================== Scrollbar =================== */
/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $bg-color-content;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $secondary-color;
}
