
@import "./Variables.scss";

.progress {
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #f8f9fa;
    height: 1rem;
    border-radius: 10px;
    
    &__bar {
        background-color: $pink;
        display: inline-block;
        height: 100%;
        border-radius: 10px;
        transition: width 0.4s ease-in-out;
    }
    &__percentage {
        font-size: 0.8em;
        font-weight: 200;
        transition: color 0.4s ease-in-out;
        position: relative;
        text-align: right;
        width: 80px;
        float: right;
        margin-top: 2px;
        color: $secondary-color;
    }
    &__info {
        height: 30px;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        color: $secondary-color;
        font-size: 0.8em;
        margin-top: 10px;
        font-weight: 200;
    }
}