.section-prensentation{
    @media (max-width: 576px) {
        h2{
            font-size: 1.7rem !important;
        }

        h5{
            margin-bottom: 1rem !important;
            font-size: 1.12em !important;
        }

        p{
            font-size: 0.9em !important;
        }
    }

    @media (max-width: 768px) and (min-width: 576px) {
        h5{
            margin-bottom: 1rem !important;
            font-size: 1.10em !important;
        }

        p{
            font-size: 0.9em !important;
        }
    }
}

.section-converter{
    @media (max-width: 576px) {
        h5{
            font-size: 0.9em !important;
        }

        input{
            font-size: 0.9rem !important;
        }
    }

    @media (max-width: 768px) and (min-width: 576px)  {
        h5{
            font-size: 1.10em !important;
        }

        input{
            font-size: 1rem !important;
        }
    }

    ::placeholder {
        color: #6c757d47;
        opacity: 1; /* Firefox */
    }
}