// BACKGROUND COLOR
$bg-color: #fff;
$bg-color-content: rgba(246, 240, 233, 1);

$primary-color: #2d659c !important;
$primary-color-hover: #1f466d !important;
$secondary-color: #68717a !important;
$secondary-color-hover: #535a61 !important;

$shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

$font-size: 22px;
$font-family: -apple-system, BlinkMacSystemFont, Roboto, "Lucida Console",
  Courier, monospace;
