// BACKGROUND COLOR
$bg-color: #fff;

$bg-color-content: rgba(246,240,233,1);

$shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

$font-size: 22px;
$font-family: -apple-system, BlinkMacSystemFont, "Lucida Console", Courier, monospace;;
