/* Youtube Downloader */
.ui.container {
  .yt-content {
    padding: 1.5em;
    font-size: 1.1em;

    p {
      margin-bottom: 1.5em;
    }
  }

  @media only screen and (max-width: 340px) {
    .yt-content {
      font-size: 0.9em;

      h1 {
        font-size: 2em;
      }
    }
  }
}

/* Video Preview */
.player-wrapper {
  position: relative;
  border-radius: 5px;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  margin-bottom: 1.5em;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);

  .loading-image {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    overflow: hidden;
    border-radius: 5px;
  }

  .react-player {
    top: 0;
    left: 0;
    position: absolute;

    iframe {
      border-radius: 5px !important;
    }
  }
}

.no-event-link {
  color: white;

  &:hover {
    color: white;
  }
}

.video-quality {
  float: right;
  margin-right: 0px;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .video-quality {
    margin-top: 0.8em !important;
  }
}
