.ui.primary.button {
  background-color: $primary-color;
  color: $secondary-color;

  &:hover,
  &:active,
  &:focus {
    background-color: $primary-background-color !important;
  }
}

.ui.secondary.button {
  color: $primary-color;
  border: 1px solid !important;
  background-color: $secondary-background-color;
  border-color: $primary-background-color !important;

  &:hover,
  &:active,
  &:focus {
    color: $primary-background-color;
    background-color: $secondary-color !important;
  }
}

.btn {
  width: 15em;
  height: 30px;
  padding: 0 !important;

  &.yt-btn-right {
    float: right;
  }

  &.yt-left {
    float: left;
    // height: 40px;
  }

  &.yt-right {
    float: right;
    // height: 40px;
  }

  .break-line::after {
    content: '\a';
    white-space: pre;
  }
}

@media only screen and (max-width: 560px) {
  .btn {
    width: 100%;
    &.yt-left {
      margin-bottom: 1em;
    }

    &.yt-right {
      margin-right: 0;
    }
  }
}
